useDynLib("earth")

import(stats)

export(earth)
export(mars.to.earth)
export(plot.earth.models)
export(plotmo)
export(evimp)
export(contr.earth.response)

S3method(anova, earth)
S3method(case.names, earth)
S3method(deviance, earth)
S3method(earth, default)
S3method(earth, formula)
S3method(effects, earth)
S3method(extractAIC, earth)
S3method(family, earth)
S3method(format, earth)
S3method(format, lm)
S3method(model.matrix, earth)
S3method(plot, earth)
S3method(predict, earth)
S3method(print, earth)
S3method(print, summary.earth)
S3method(resid, earth)
S3method(residuals, earth)
S3method(summary, earth)
S3method(update, earth)
S3method(variable.names, earth)
